.order-2 {
    margin-top: 2rem;
}
body {
        margin: 0 auto;
        width: 80%;
    }

button {
        margin-bottom: 2rem;
        margin-right: 1rem;
    }

.btn-success{
        font-size: 2rem;
        display: block;
        width: 40%;
        margin: 5rem auto;
        margin-bottom: 2rem;
    }    

container-fluid h-100 {
    margin-top: 6rem;
    }